codenvy-gwtframework-commons/src/test/resources/wadl-jcr-service.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://research.sun.com/wadl/2006/10">
    <resources base="http://localhost:8080/rest">
        <resource path="/jcr-service">
            <method name="OPTIONS">
                <response>
                    <representation mediaType="application/vnd.sun.wadl+xml"/>
                </response>
            </method>
            <resource path="/update-workspace-config/{repositoryName}/{workspaceName}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string"
                       style="template" name="repositoryName"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string"
                       style="template" name="workspaceName"/>
                <method name="POST" id="updateWorkspaceConfiguration">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
            <resource path="/create-workspace/{repositoryName}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string"
                       style="template" name="repositoryName"/>
                <method name="POST" id="createWorkspace">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
            <resource path="/repository-service-configuration">
                <method name="GET" id="getRepositoryServiceConfiguration">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/default-ws-config/{repositoryName}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string"
                       style="template" name="repositoryName"/>
                <method name="GET" id="getDefaultWorkspaceConfig">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/workspaces/{repositoryName}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string"
                       style="template" name="repositoryName"/>
                <method name="GET" id="getWorkspaceNames">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/repositories">
                <method name="GET" id="getRepositoryNames">
                    <response>
                        <representation mediaType="application/json"/>
                    </response>
                </method>
            </resource>
            <resource path="/remove-repository/{repositoryName}/{forseSessionClose}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:boolean"
                       style="template" name="forseSessionClose"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string"
                       style="template" name="repositoryName"/>
                <method name="POST" id="removeRepository">
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
            <resource path="/create-repository">
                <method name="POST" id="createRepository">
                    <request>
                        <representation mediaType="application/json"/>
                    </request>
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
            <resource
                    path="/remove-workspace/{repositoryName}/{workspaceName}/{forseSessionClose}/">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:boolean"
                       style="template" name="forseSessionClose"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string"
                       style="template" name="repositoryName"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string"
                       style="template" name="workspaceName"/>
                <method name="POST" id="removeWorkspace">
                    <response>
                        <representation mediaType="*/*"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>